*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #000;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 48px; 
    flex-wrap: nowrap;
    padding: 16px 48px;
}
.header {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-center{
    color: #fff;
    display: flex;
    gap: 30px;
}
.header-end{
    display: flex;
    gap: 14px;
    align-items: center;
    white-space: nowrap;
}
.header-end button{
    border-radius: 8px;
    color: #fff;
    padding: 4px 10px;
}
.header-end button:first-child{
    justify-content: center;   
}
.header-end button:first-child:hover {
    background-color: #f2f2f2;
    color: #000;
}
.header-end button:last-child{
    background-color:#fff;
    color: black;
}
.hero {
    margin-top: 200px;   
    margin-left: 48px;   
    margin-right: 0;
    margin-bottom: 0;
    color: #fff;
    max-width: 600px;
}

.hero button{
    border-radius: 8px;
    background-color: #fff;
    padding: 4px 8px 4px 8px;
    margin: 19px;
}

.screen {
    padding: 4px 40px;
    margin-top: 20px;
    margin-left: 40px;
    display: block;
    margin: auto;

}
.main p{
    text-align: center;
    color: #f2f2f2;
}
.logo-strip{
    margin-top: 20px;
     padding-left: 8px;
    padding-right: 8px;
}
.logo-track{
    
    display: flex;
    align-items: center;
    gap: 20px;              
    padding-left: 8px;     
    padding-right: 8px;
    justify-content: space-between;
}
.logo-track img{
    height: 80px;        
    width: auto; 
    padding: 16px 20px;         
    background-color: #d6bebe;     
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;        
}
.alternate{
    margin: 40px;
    margin-bottom: 40px;
}
.alternate img{
    padding: 10px 10px 10px 10px;
    justify-content: center;
    display: block;
    margin: auto;
}
.context{
    color: #f2f2f2;
    text-align: center;
    padding: 50px;
}
.figure{
    color: #f2f2f2;
    display: flex;
    gap: 4px;
    justify-content: start;
    position: relative;
    
}
.figure > div {
    background-color: #d6bebe;   
    padding: 24px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.figure .img{
     display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 8px;
    background-color: #d6bebe;
}
.figure img {
    width: 80px;
    height: 85px;
    border-radius: 5px;
}
.figure p{
    background-color: #d6bebe;
}
.heads{
    color: #fff;
    padding-top: 80px;
    text-align:start;
    cursor: pointer;
}
.models{
    color: #fff;
    display: flex;
    padding: 20px; 
    gap: 10px;
    border-radius: 5px;

}
.models .m1 h6, .m2 h6, .m3 h6{
    color: orange;
    padding-bottom: 10px;
    background-color: #d6bebe;
    padding: 20px;
   
    
}
.models h3{
    background-color: #d6bebe;
    padding: 4px;

}
.models p{
    background-color: #d6bebe;
    padding: 8px;
}
.models .m1 h6 img, .m2 h6 img, .m3 h6 img{
    padding: 10px;
    background-color: #d6bebe;
    border-radius: 8px;
    padding: 5px;
}
.changelog{
    color: #f2f2f2;
    display: flex;
    gap: 9px;
    text-align: center;
    padding: 10px;
    padding-left: 8px;
    margin: 8px;
    justify-content: space-between;
    
}
.changelog .c1, .c2, .c3, .c4{
    background-color: #d6bebe;
    border-radius: 5px;
    padding: 4px 2px 4px 2px;
    margin:2px 2px 2px 2px;
}


.changelog .c1 h5, .c2 h5, .c3 h5, .c4 h5{
    color: #070707;
}

.changelog .c1 span, .c4 span{
    background-color: rgb(187, 157, 157);
    border:1px  #070707;
    border-radius: 5px;
}
h4{
    color: orange;
    padding: 4px 16px;
}
.pic{
    padding: 8px;
    padding-left: 80px;
    justify-content: center;
    display: block;
    margin: auto;
}
.bottom{
    color:#fff;
    justify-content: center;
    text-align: center;
    padding: 5px;
}
.bottom button{
    background-color: #f2f2f2;
    border: 2px soild rgb(112, 108, 108);
    border-radius: 7px;
    padding: 4px;
    margin: 4px;

}
.Resources h4{
    color: #f2f2f2;
}
.Resources{
    color: #fff;
    display: flex;
    gap: 10px;
    background-color: #d6bebe;
    padding: 8px;
    justify-content: space-between;
}
.Resources p{
    text-align: center;
}
.Resources .le{
    padding-left: 48px;
}
footer{
    color: #fff;
    padding: 80px;
    padding-left: 0px;
    cursor: pointer;
}
footer:hover{
    color: #b8acac;
}




